.projects {
  height: auto;
}

.containerProjects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(100px, 1fr);
  grid-gap: 0;
}

.title {
  color: #ffffff;
  padding: 20px 0px 20px 0px;
}

.title > a {
  text-decoration: none;
  color: #ffffff;
}

img {
  cursor: pointer;
  background-position: center;
  background-size: cover;
}

.link {
  text-align: end;
  font-size: 20px;
}

.link > a {
  display: none;
  text-decoration: none;
  color: rgb(246, 157, 54);
}
