.containerInfo {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Segoe UI, "Tahoma", Geneva, Verdana, sans-serif;
}

.titleInfo {
  color: #ffffff;

  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 20px 0px 20px 0px;
}

.info {
  color: rgb(176, 175, 175);
  font-size: 20px;
  letter-spacing: 2px;
}
